*{
  margin: 0px;
  padding: 0px;
}
body{
  display: block;
  align-items: center;
  
  
}


.toolbar-buttons{
  margin: 20px;
  padding: 10px;

  text-align: center;
}
.tool-content{
  
}
button{
  background-color: rgb(243, 242, 242);
  margin: 10px;
  width: 100px;
  height: auto;
  border-radius: 20px;
  
}
button:hover{
  background-color:black;
  color: aliceblue;
}
.text-h{
  text-align: center;
  margin: 10px;
  font-weight: 400;
  font-size:xx-large;
  background-color: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.text-p{
  margin: 10px;
  padding: 10px;

  text-align: center;
  font-size: large;
  
}